# Editor configuration: https://EditorConfig.org

root = true # Top-most file; search no further

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[{.*rc, package.json, *.styl}]
indent_style = space
indent_size = 2

[{*.js, *.json, *.vue}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
