# Files and directories that should not be committed to Git.

# API
.coverage
__pycache__/
dev-db.sqlite
htmlcov/
test-db.sqlite
venv/

# UI
node_modules/
yarn-error.log
videos/

# Other
.idea/
dist/
