# Sample configuration:
# 1. Replace with your own settings
# 2. Save as `.env`
#
# DO NOT COMMIT PRODUCTION SETTINGS TO VERSION CONTROL!

PSQL_HOST="127.0.0.1"
PSQL_USER="user"
PSQL_PASS="password"
PSQL_DB="dbname"

FLASK_SECRET_KEY="big secret"
JWT_SECRET_KEY="super secret"

MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=465

EMAIL_USERNAME="test@example.com"
EMAIL_PASSWORD="password"
